<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- todo delete some div id's that arnt used -->
<div id="temp"></div>
<div id="project-item-container">
  <div id="item-info-container">
    <div id="project-name" class="subtitle-font-size">{{ project?.name }}</div>
    <div id="project-description" class="paragraph-font-size">
      {{ project?.description }}
    </div>
    <div id="project-skills-used">
      <ul>
        @for(skill of project?.skills; track $index){
        <li>{{ skill }}</li>
        }
      </ul>
    </div>
    <div id="project-links">
      <ul>
        @for(link of project?.links; track $index){
        <li>
          <a
            class="fa icon-size {{ link.logoClass }}"
            href="{{ link.href }}"
            target="_blank"
          >
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
