<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div
  class="bg-paragraph-bg flex flex-col justify-between gap-6 h-full rounded-lg py-6"
>
  <div class="subtitle-font-size text-subtitle-color text-center">
    {{ project.name }}
  </div>
  <div class="paragraph-font-size text-justify p-6">
    {{ project.description }}
  </div>
  <div>
    <div class="pb-4">
      <ul>
        @for(skill of project.skills; track $index){
        <li>{{ skill }}</li>
        }
      </ul>
    </div>
    <div>
      <ul>
        @for(link of project.links; track $index){
        <li>
          <a
            class="fa icon-size {{ link.logoClass }}"
            href="{{ link.href }}"
            target="_blank"
          >
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
