<!-- <div class="page-section mx-4 lg:mx-60" id="about"> -->
<div class="page-section" id="about">
  <div class="title-font-size page-title title-shadow">About</div>
  <div class="flex flex-col lg:flex-row justify-between gap-10 lg:gap-14">
    <div
      class="about-content-item paragraph-font-size"
      custom-animation="animate-slideInFromLeft"
    >
      Currently working as a games programmer at 
      <a
        class="no-underline color text-blue-500 hover:text-blue-700 textColorFade"
        href="https://thelostpixels.com/"
        target="_blank"
        >The Lost Pixels</a
      >
      , where most of my experience has been in TypeScript and Cocos Creator.
      I worked on developing and maintaining modular and efficient game systems.
      <br><br>
      I thrive in dynamic environments where I can apply creative problem-solving
      and persistence to deliver results. Like any interesting challenge:
      the best way to eat an elephant is one bite at a time!
      <br><br>
      I strive to continually learn new skills. 
      This website serves as a repository of my personal and academic projects. 
    </div>
    <div class="about-content-item flex flex-wrap justify-center gap-2.5">
      <!-- prettier-ignore -->
      @for(image of imageList; track $index){
      <app-about-image
        [title]="image.title"
        [imageLink]="image.src"
      ></app-about-image>
      }
    </div>
  </div>
</div>
