<div class="page-section" id="about">
  <div class="title-font-size page-title">About</div>
  <div id="about-content">
    <div class="about-content-item paragraph-font-size" id="about-paragraph">
      Avid programmer who recently started to dive into full stack development.
      Being able to use logic and problem solving, along with never running out
      of things to learn, drives my excitement for software development. I have
      prior work experience as a programmer from my internship at
      <a id="the-lost-pixels" href="https://thelostpixels.com/" target="_blank"
        >The Lost Pixels</a
      >
      where I worked on a 2D platformer game in Godot. Away from the computer I
      like to spend my time at the gym, running, and reading.
    </div>
    <div class="about-content-item" id="about-images-container">
      <!-- prettier-ignore -->
      @for(image of imageList; track $index){
      <!--todo is there anything reduant here about typing <app-about-image>. could i somehow to insert the object(image) here-->
      <app-about-image
        [title]="image.title"
        [imageLink]="image.imageLink"
      ></app-about-image>
      }
    </div>
  </div>
</div>
<!-- The unique combination of creativity, logic, technology and never running
      out of new things to discover, drives my excitement and passion for web
      development. I have prior work experience as a programmer from my
      internship at -->
