#about-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 200px;
    flex-wrap: wrap;
}
.about-content-item{
    flex: 1 1 0;
}
#about-images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#about-paragraph{
    line-height: 1.6;
}
