<div
  class="page-section page-title h-screen text-center flex flex-col justify-between !pt-48 lg:!pt-56 !font-extralight animate-fadeIn"
  id="home"
>
  <div>
    <div class="title-font-size">Hello, I'm <span>Ryan</span>.</div>
    <div class="title-font-size">
      I'm a programmer and a soon to be CS graduate.
    </div>
  </div>
  <div class="hover:scale-110 duration-500">
    <a class="page-button" href="assets/Resume.pdf" target="_blank">Resume</a>
  </div>

  <div class="hover:scale-110 duration-500">
    <a
      class="title-font-size arrow animate-bounce hover:text-red-color textColorFade"
      href="/#about"
      >&#x2193;</a
    >
  </div>
</div>
<!-- class="fa fa-arrow-circle-down border-2 border-black rounded-3xl" -->
