#navbar-container{
    /* background-color: rgb(113, 114, 122,0.99); */
    background-color: rgba(63, 63, 66, 0.99);
    padding: 10px 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 0 7px 3px #000000
}
ul{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

li{
    list-style-type: none;
    font-size: 1.3rem;
}

li:hover{
    color: red;
    cursor: pointer;
}

/* used to highlight navbar item based on scroll down the page */
.isActive{
    color: red;
}
