<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- todo delete some div id's that arnt used -->
<div class="flex flex-col lg:flex-row justify-between text-right gap-8">
  <img src="{{ project?.imgSrc }}" width="600px" height="300px" />
  <div class="flex flex-col gap-6">
    <div id="project-name" class="subtitle-font-size">{{ project?.name }}</div>
    <div class="paragraph-font-size p-6 rounded-lg bg-paragraph-bg">
      {{ project?.description }}
    </div>
    <div id="project-skills-used">
      <ul>
        @for(skill of project?.skills; track $index){
        <li>{{ skill }}</li>
        }
      </ul>
    </div>
    <div id="project-links">
      <ul>
        @for(link of project?.links; track $index){
        <li>
          <a
            class="fa icon-size {{ link.logoClass }}"
            href="{{ link.href }}"
            target="_blank"
          >
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
