<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- todo delete some div id's that arnt used -->
<div id="project-item-container">
  <img src="assets/project-images/OpenglCity.png" width="600px" height="auto" />
  <div id="item-info-container">
    <div id="project-name" class="subtitle-font-size">OpenGL City</div>
    <div id="project-descrition" class="paragraph-font-size">
      This project is a 3D city simulation built using OpenGL. The city includes
      a variety of buildings, and roads, with attention to detail in texture
      mapping and dynamic lighting to create a realistic environment. Users can
      explore the urban landscape with an interactive camera. This project
      highlights my skills in computer graphics and OpenGL programming, as well
      as my understanding of the rendering pipeline.
    </div>
    <div id="project-skills-used">
      <ul>
        <li>OpenGL</li>
        <li>C++</li>
      </ul>
    </div>
    <div id="project-links">
      <a
        class="fa fa-github icon-size"
        href="https://github.com/RyanCampbelljc/OpenGL-City"
        target="_blank"
      ></a>
    </div>
  </div>
</div>
