<div class="page-section" id="projects">
  <div class="title-font-size page-title title-shadow">Projects</div>
  <div class="flex flex-col gap-10">
    @for(project of mainProjectList; track $index){
    <app-project-item [project]="project"></app-project-item>
    }
  </div>
  <div class="subtitle-font-size py-20">Other Noteable Work</div>
  <div class="flex flex-col lg:flex-row justify-center gap-8 flex-wrap">
    @for(project of miniProjectList; track $index){
    <app-project-item-mini
      [project]="project"
      class="flex-1 hover:-translate-y-4 duration-500 ease-in-out"
    ></app-project-item-mini>
    }
  </div>
</div>
