<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="page-section" id="contact">
  <div class="title-font-size">Contact</div>
  <div id="contact-content">
    <div class="paragraph-font-size">Some placeholder text</div>

    <form id="content-input-container" method="POST">
      <input type="text" name="name" placeholder="Name" #nameInput />
      <!-- todo when lastpass logo when inside this email input
        it completely clapped the footer location for some reason -->
      <input type="email" name="email" placeholder="Email" #emailInput />
      <input
        type="text"
        name="message"
        placeholder="Message"
        id="message-input"
        #messageInput
      />
      <div id="contact-submit-section">
        <div id="sumbit-error-messages">
          <div class="paragraph-font-size" hidden id="name-error-message">
            Please fill in your name
          </div>
          <div class="paragraph-font-size" hidden id="email-error-message">
            Please fill in your email
          </div>
          <div class="paragraph-font-size" hidden id="message-error-message">
            Please leave a message
          </div>
        </div>
        <button
          type="button"
          class="paragraph-font-size"
          (click)="
            onSubmit(nameInput.value, emailInput.value, messageInput.value)
          "
        >
          SUBMIT
        </button>
      </div>
    </form>
  </div>
  <!-- Should have been its own component incase the site ever gets another page -->
  <div id="footer">
    <div id="footer-logos">
      <a
        class="fa fa-github icon-size"
        href="https://github.com/RyanCampbelljc"
        target="_blank"
      ></a>
      <a
        class="fa fa-linkedin-square icon-size"
        href="https://www.linkedin.com/in/ryan-campbell-09472625a/"
        target="_blank"
      ></a>
    </div>
    <div>RYAN CAMPBELL 2024</div>
  </div>
</div>
