<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="page-section" id="contact">
  <div class="title-font-size">Contact</div>
  <div id="contact-content">
    <div>Some placeholder text</div>

    <div id="input-container">
      <!-- TODO make these backgrounds darker -->
      <input type="text" name="name" placeholder="Name" />
      <!-- todo when lastpass logo when inside this email input
       it completely clapped the footer location for some reason -->
      <input type="email" name="email" placeholder="Email" />
      <input
        type="text"
        name="message"
        placeholder="Message"
        id="message-input"
      />
    </div>
  </div>
  <div id="footer">
    <div id="footer-logos">
      <i class="fa fa-github icon-size"></i>
      <i class="fa fa-linkedin-square icon-size"></i>
    </div>
    <div>RYAN CAMPBELL 2024</div>
  </div>
</div>
