input{
    height: 30px;
    width: 400px;
    background-color: rgb(58, 57, 57);
    border: none;
    outline: none;
    font-size: 1.0rem;
}

button{
    color: white;
    border: none;
    background-color: rgb(236, 62, 62);
    height: fit-content;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: rgb(240, 22, 22);
}

#contact-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 30px;
    align-items: center;
    width: 100%;
}

#content-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#contact-submit-section{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
