<app-navbar
  [navbarData]="[
    { label: 'Home', ref: '#home' },
    { label: 'About', ref: '#about' },
    { label: 'Projects', ref: '#projects' },
    { label: 'Contact', ref: '#contact' }
  ]"
></app-navbar>
<app-hero></app-hero>
<app-about
  [imageList]="[
    { title: 'HTML5', imageLink: 'assets/HTML5.png' },
    { title: 'CSS', imageLink: 'assets/css.png' },
    { title: 'TypeScript', imageLink: 'assets/ts.png' },
    { title: 'ExpressJS', imageLink: 'assets/express.png' },
    { title: 'Angular', imageLink: 'assets/angular.png' },
    { title: 'NodeJS', imageLink: 'assets/node.png' },
    { title: 'C++', imageLink: 'assets/c++.png' },
    { title: 'OpenGL', imageLink: 'assets/opengl.png' },
    { title: 'Java', imageLink: 'assets/java.png' },
    { title: 'Godot', imageLink: 'assets/godot.png' },
    { title: 'Git', imageLink: 'assets/git.png' }
  ]"
></app-about>
<app-projects></app-projects>
<app-contact></app-contact>
