/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    color:white;
}
body{
    margin: 0;
    background-color: rgb(37, 36, 36);
}
html{
    font-size: 16px;
}

.textColorFade{
    transition: color 0.2s ease-in-out;
}
.title-font-size{
    font-size: 4rem;
}
.subtitle-font-size{
    font-size: 2rem;
}
.paragraph-font-size{
    font-size: 1.2rem;
}

/* Each section of the page.(home,about,projects...) */
.page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 150px;
}