/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    color:white;
}
body{
    margin: 0;
    background-color: rgb(37, 36, 36);
    /* needed to prevent scrolls bars when footer was used inside contact */
    overflow-x: hidden;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

.textColorFade{
    transition: color 0.2s ease-in-out;
}
.title-font-size{
    /* font-size: 4rem; */
    @apply text-3xl md:text-6xl;
    /* text-7xl */
}
.subtitle-font-size{
    /* font-size: 2rem; */
    @apply text-2xl md:text-4xl;
    /* text-4xl */
}
.paragraph-font-size{
    /* font-size: 1.2rem; */
    @apply md:text-xl;
    /* text-xl */
}

/* Each section of the page.(home,about,projects...) */
.page-section{
    /* title and content gap */
    @apply flex flex-col items-center pt-20 max-w-screen-xl mx-4 lg:mx-auto;
    /* padding-top: 90px; */
    /* margin: 0 150px; */
}

.page-title{
    @apply mb-5 lg:mb-16 font-bold;
    /* border-b-8 border-red-800 bg-clip-content */
}

/* use this to style sizes of the imported symbols. Need to be important to override font-size */
.icon-size{
    font-size: 36px !important;
}

.icon-hover{
    @apply textColorFade hover:text-red-light
}